<div class="fluid-container">
  <a id="hamburger" class="closed" onclick="closeSidebar()"></a>
  <div class="row">
    <div id="skn_personal" class="col-sm-2 skn_row">
      <h1>Persoonsgegevens</h1>
      <img src="/img/mugshot.jpg" alt="">
      <dl>
        <dt>Naam</dt>
        <dd>John Doe</dd>
        <dt>Geslacht</dt>
        <dd>Man</dd>
        <dt>Geboortedatum</dt>
        <dd>04-07-1980</dd>
        <dt>Leeftijd</dt>
        <dd>29</dd>
      </dl>
      <dl>
        <dt>Adresgegevens</dt>
        <dd>Leidseplein 1A</dd>
        <dd>2800 AB Amsterdam</dd>
      </dl>
    </div>
    <div id="skn_body" class="col-sm skn_row">
      <div class="delict">
        <h1>Delictgeschiedenis<i class="fas fa-plus"></i><i class="fas fa-minus"></i></h1>
        <div class="tables">
          <dl>
            <dt>Naam</dt>
            <dd>John Doe</dd>
            <dt>Geslacht</dt>
            <dd>Man</dd>
            <dt>Geboortedatum</dt>
            <dd>04-07-1980</dd>
            <dt>Leeftijd</dt>
            <dd>29</dd>
          </dl>
          <dl>
            <dt>Adresgegevens</dt>
            <dd>Leidseplein 1A</dd>
            <dd>2800 AB Amsterdam</dd>
          </dl>
        </div>
      </div>
      <div class="">
        <h1>Leefgebieden</h1>
        <div class="tables">
          <dl>
            <dt>Naam</dt>
            <dd>John Doe</dd>
            <dt>Geslacht</dt>
            <dd>Man</dd>
            <dt>Geboortedatum</dt>
            <dd>04-07-1980</dd>
            <dt>Leeftijd</dt>
            <dd>29</dd>
          </dl>
          <dl>
            <dt>Adresgegevens</dt>
            <dd>Leidseplein 1A</dd>
            <dd>2800 AB Amsterdam</dd>
          </dl>
        </div>
      </div>
      <div class="">
        <h1>Persoonlijk functioneren</h1>
        <div class="tables">
          <dl>
            <dt>Naam</dt>
            <dd>John Doe</dd>
            <dt>Geslacht</dt>
            <dd>Man</dd>
            <dt>Geboortedatum</dt>
            <dd>04-07-1980</dd>
            <dt>Leeftijd</dt>
            <dd>29</dd>
          </dl>
          <dl>
            <dt>Adresgegevens</dt>
            <dd>Leidseplein 1A</dd>
            <dd>2800 AB Amsterdam</dd>
          </dl>
        </div>
      </div>
      <div class="">
        <h1>Eerdere reclasseringsprogamma's</h1>
        <div class="tables">
          <dl>
            <dt>Naam</dt>
            <dd>John Doe</dd>
            <dt>Geslacht</dt>
            <dd>Man</dd>
            <dt>Geboortedatum</dt>
            <dd>04-07-1980</dd>
            <dt>Leeftijd</dt>
            <dd>29</dd>
          </dl>
          <dl>
            <dt>Adresgegevens</dt>
            <dd>Leidseplein 1A</dd>
            <dd>2800 AB Amsterdam</dd>
          </dl>
        </div>
      </div>
      <button type="button" onclick="loadXMLDoc()">GET TABLE</button>
    </div>
    <div id="skn_sidebar" class="skn_row">
      <div id='test'>

      </div>
    </div>
  </div>
</div>
